// COLORS
$white: #FFFFFF;
$light: #FCFCFC;
$darkGrey: #d3d3d3;
$black: #073b4c;

$primary: #118AB2;

$success: #06D6A0;
$warning: #FFD166;
$danger: #EF476F;

// EXTENDS
%btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    color: transparent;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .25s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $darkGrey;
    }
}