@import './global.scss';

.Form {
    position: absolute;
    top: 114px;
    width: calc(100% - 60px);
    height: 60px;

    @media screen and (max-width: 767px) {
        // Debug
        background-color: pink;
    }
}

.Input {
    display: block;
    width: 100%;
    border-radius: 30px;
    border: 0;
    background-color: $light;
    padding: 19px 85px 19px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    &::placeholder {
        font-weight: 300;
        font-style: italic;
    }
}

.Label {
    position: absolute;
    top: -4px;
    left: 90px;
    font-weight: 600;
    color: $white;
    transform: translateY(-100%); 

    & > span {
        font-weight: 700;
    }
}

.Submit {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    background-color: $primary;
    color: transparent;
    background-image: url('../images/icon-plus.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .25s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $darkGrey;
    }
}