@import './variables';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&display=swap');

// RESET
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: $black;
    font-family: 'Open Sans', sans-serif;
    color: $black;
}