@import './variables';

.Logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;

    & > img {
        width: 100%;
        height: auto;
    }
}